{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-8">
            <div class="card">
                <div class="card-body p-0">
                    <div class="position-relative">
                        <img src="{% static 'main/images/banner.png' %}" alt="Image description" class="img-fluid" style="border-radius: 10px;">
                        <div class="image-overlay d-flex justify-content-center align-items-center d-none d-md-flex">
                            <div class="image-text">
                                <h5>Add academic Record</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section col-lg-12 col-md-12 col-sm-12 tutorial-style">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <fieldset class="form-group">
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            {{ form.academic_level|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.institution_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.admission_number|as_crispy_field }}
                        </div>
                    </div> 
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            {{ form.area_of_study|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.specialization|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.examining_body|as_crispy_field }}
                        </div>
                    </div> 
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            {{ form.start_year|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.end_year|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.graduation_year|as_crispy_field }}
                        </div>
                    </div> 
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            {{ form.is_studying|as_crispy_field }}
                        </div>
                    </div> 
                    
                </fieldset>
                <div class="form-row text-center">
                    <div class="form-group col-md-12 mb-2">
                        <button style="background-color: #89c73e; border: #89c73e;" class="btn btn-success" type="submit">Add academic Record</button>
                    </div>
                </div>
                
        </form>
    </div>
    <div class="content-section col-lg-12 col-md-12 col-sm-12 tutorial-style">
        <div class="table-responsive">
            <table class="table table-striped table-vertical">
                <thead>
                    <tr>
                        <th data-label="Academic Level">Academic Level</th>
                        <th data-label="Institution Name">Institution Name</th>
                        <th data-label="Admission Number">Admission Number</th>
                        <th data-label="Area of Study">Area of Study</th>
                        <th data-label="Specialization">Specialization</th>
                        <th data-label="Examining Body">Examining Body</th>
                        <th data-label="Start Year">Start Year</th>
                        <th data-label="End Year">End Year</th>
                        <th data-label="Graduation Year">Graduation Year</th>
                        <th data-label="Action">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if academic_details %}
                        {% for academic_detail in academic_details %}
                            <tr>
                                <td data-label="Academic Level">{{ academic_detail.academic_level }}</td>
                                <td data-label="Institution Name">{{ academic_detail.institution_name }}</td>
                                <td data-label="Admission Number">{{ academic_detail.admission_number }}</td>
                                <td data-label="Area of Study">{{ academic_detail.area_of_study }}</td>
                                <td data-label="Specialization">{{ academic_detail.specialization }}</td>
                                <td data-label="Examining Body">{{ academic_detail.examining_body }}</td>
                                <td data-label="Start Year">{{ academic_detail.start_year }}</td>
                                <td data-label="End Year">{{ academic_detail.end_year }}</td>
                                <td data-label="Graduation Year">{{ academic_detail.graduation_year }}</td>
                                <td data-label="Action"><a style="background-color: #89c73e; border: #89c73e;" class="btn btn-success" href="{% url 'update_academic_details' academic_detail.id %}">Update</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="10">No academic details found.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    
    
</div>
{% endblock content %}