{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-8">
            <div class="card">
                <div class="card-body p-0">
                    <div class="position-relative">
                        <img src="{% static 'main/images/banner.png' %}" alt="Image description" class="img-fluid" style="border-radius: 10px;">
                        <div class="image-overlay d-flex justify-content-center align-items-center d-none d-md-flex">
                            <div class="image-text">
                                <h5>Have you worked somewhere before ?</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="content-section col-lg-12 col-md-12 col-sm-12">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <fieldset class="form-group">
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.company_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.position|as_crispy_field }}
                        </div>
                       
                    </div> 
                    <div class="form-row">
                        <div class="form-group col-md-3 mb-0">
                            {{ form.start_date|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.end_date|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.currently_working_here|as_crispy_field }}
                        </div>
                    </div> 
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.position_description|as_crispy_field }}
                        </div>
                    </div> 
                </fieldset>
                <div class="form-row text-center">
                    <div class="form-group col-md-12 mb-2">
                        <button style="background-color: #89c73e; border: #89c73e;" class="btn btn-success" type="submit">Add Employment History</button>
                    </div>
                </div>
                
        </form>
    </div>
    <div class="content-section col-lg-12 col-md-12 col-sm-12">
        <div class="table-responsive">
            <table class="table table-striped table-vertical">
                <thead>
                    <tr>
                        <th data-label="Company Name">Company Name</th>
                        <th data-label="Position">Position</th>
                        <th data-label="Position Description">Position Description</th>
                        <th data-label="Start Date">Start Date</th>
                        <th data-label="End Date">End Date</th>
                        <th data-label="Action">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employment_history in employment_histories %}
                        <tr>
                            <td data-label="Company Name">{{ employment_history.company_name }}</td>
                            <td data-label="Position">{{ employment_history.position }}</td>
                            <td data-label="Position Description">{{ employment_history.position_description }}</td>
                            <td data-label="Start Date">{{ employment_history.start_date }}</td>
                            <td data-label="End Date">
                                {% if employment_history.currently_working_here %}
                                    Currently Working Here
                                {% else %}
                                    {{ employment_history.end_date }}
                                {% endif %}
                            </td>
                            
                            <td data-label="Action">
                                <a style="background-color: #89c73e; border: #89c73e;" href="{% url 'update_employment_history' employment_history.id %}" class="btn btn-success">Update</a>
                                <!-- Add other actions or buttons as needed -->
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6">No employment history found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</div>
{% endblock content %}