{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-8">
            <div class="card">
                <div class="card-body p-0">
                    <div class="position-relative">
                        <img src="{% static 'main/images/banner.png' %}" alt="banner" class="img-fluid" style="border-radius: 10px; width: 100%;">
                        <div class="image-overlay d-flex justify-content-center align-items-center d-none d-md-flex">
                            <div class="image-text">
                                <h5>Vacancy History</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <form method="get" action="{% url 'hr:vac' %}" class="mb-3">
                            <div class="row mt-2">
                                <div class="col-md-2">
                                    Total Vacancies ({{ vac_count }})
                                </div>
                                <div class="col-md-2">
                                    <input type="text" name="job_name" class="form-control" placeholder="Job Name" value="{{ job_name }}">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" name="vacancy_type" class="form-control" placeholder="Vacancy Type" value="{{ vacancy_type }}">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" name="job_ref" class="form-control" placeholder="Filter by Job Reference" value="{{ job_ref }}">
                                </div>
                                <div class="col-md-1">
                                    <button type="submit" class="btn btn-info btn-block">Apply</button>
                                </div>
                                <div class="col-md-1">
                                    <button type="submit" name="show_all" class="btn btn-secondary btn-block">All</button>
                                </div>
                                <div class="col-md-2">
                                    <a href="{% url 'hr:index' %}" class="btn btn-success">Back to HR Dashboard</a>
                                </div>
                            </div>
                          
                        </form>
                    </div>
                </div>
                
                
                </div>
                
                
                <div class="table-stats order-table ov-h">
                    <table class="table" style="font-size: 8px;">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Vacancy Ref</th>
                                <th>Vacancy Title</th>
                                <th>Description</th>
                                <th>Reports To</th>
                                <th>Academic Level</th>
                                <th>Area of Study</th>
                                <th>Specialization</th>
                                <th>Requirements</th>
                                <th>Department</th>
                                <th>Number of Vacancies</th>
                                <th>Responsibilities</th>
                                <th>Vacancy Type</th>
                                <th>Date Created</th>
                                <th>Duration</th>
                                <th>Applications</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vacancy in vacancies %}
                                <tr style="height: 20px;">
                                    <td class="serial">{{ forloop.counter }}</td>
                                    <td>{{ vacancy.job_ref }}</td>
                                    <td>{{ vacancy.job_name }}</td>
                                    <td>{{ vacancy.job_description|safe }}</td>
                                    <td>{{ vacancy.reports_to }}</td>
                                    <td>{{ vacancy.academic_level }}</td>
                                    <td>{{ vacancy.area_of_study }}</td>
                                    <td>{{ vacancy.specialization }}</td>
                                    <td>{{ vacancy.requirements|safe }}</td>
                                    <td>{{ vacancy.department }}</td>
                                    <td>{{ vacancy.number_of_vacancies }}</td>
                                    <td>{{ vacancy.responsibilities|safe }}</td>
                                    <td>{{ vacancy.vacancy_type }}</td>
                                    <td>{{ vacancy.date_created }}</td>
                                    <td>{{ vacancy.date_open|default:"N/A" }} - {{ vacancy.date_closed|default:"N/A" }}</td>
                                    <td>{{ vacancy.application_count }}</td>
                                    <td>
                                        <a href="{% url 'hr:edit_vac' vacancy.id %}">
                                            <i class="fa fa-pencil"></i> <!-- FontAwesome pencil icon -->
                                        </a>
                                    </td>
                                    
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination">
                        <span class="step-links">
                            {% if vacancies.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ vacancies.previous_page_number }}">previous</a>
                            {% endif %}
                            
                            <span class="current-page">Page {{ vacancies.number }} of {{ vacancies.paginator.num_pages }}.</span>
                            
                            {% if vacancies.has_next %}
                                <a href="?page={{ vacancies.next_page_number }}">next</a>
                                <a href="?page={{ vacancies.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div> <!-- /.table-stats -->
                <div class="text-center mt-3">
                    <a href="{% url 'hr:create_vac' %}" class="btn btn-success">Create New Vacancy</a>
                </div>
            </div>
          
        </div>
    </div>
</div>

{% endblock content %}
