{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-8">
            <div class="card">
                <div class="card-body p-0">
                    <div class="position-relative">
                        <img src="{% static 'main/images/banner.png' %}" alt="banner" class="img-fluid" style="border-radius: 10px; width: 100%;">
                        <div class="image-overlay d-flex justify-content-center align-items-center d-none d-md-flex">
                            <div class="image-text">
                                <h5>All Users' Applications</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <form method="get" action="{% url 'hr:vac_ap_detail' vacancy_id=vacancy.id %}
                        " class="mb-3">
                            <div class="row mt-2">
                                <div class="col-md-2">
                                    Total Applications ({{ vac_count }})
                                </div>
                                <div class="col-md-4">
                                    <input type="text" name="search" class="form-control" placeholder="Search by username or full name" value="{{ search_query }}">
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-info btn-block">Search</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" name="show_all" class="btn btn-secondary btn-block">Show All</button>
                                </div>
                                <div class="col-md-2">
                                    <a href="{% url 'hr:index' %}" class="btn btn-success">Back to HR Dashboard</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="table-stats order-table ov-h">
                    <table class="table" style="font-size: 12px;">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th class="avatar">Profile</th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Vacancy</th>
                                <th>Date Applied</th>
                                <th>Qualified</th>
                                <th>Feedback</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for app in applications %}
                                <tr>
                                    <td class="serial">{{ forloop.counter }}</td>
                                    <td class="avatar">
                                        <img src="{{ app.user.image.url }}" alt="User Avatar">
                                    </td>
                                    <td>{{ app.user.username }}</td>
                                    <td>{{ app.user.get_full_name }}</td>
                                    <td>{{ app.vacancy.job_name }}</td>
                                    <td>{{ app.application_date }}</td>
                                    <td>{% if app.is_qualified %}Yes{% else %}No{% endif %}</td>
                                    <td>{{ app.response }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Pagination Links (Centered) -->
                <div class="d-flex justify-content-center">
                    <ul class="pagination">
                        {% if applications.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">First</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ applications.previous_page_number }}">Previous</a>
                            </li>
                        {% endif %}
                        <li class="page-item disabled">
                            <span class="page-link">Page {{ applications.number }} of {{ applications.paginator.num_pages }}</span>
                        </li>
                        {% if applications.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ applications.next_page_number }}">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ applications.paginator.num_pages }}">Last</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
