{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="content">
    <div class="row">
        <div class="col-lg-12 col-md-6">
            <div class="card">
                <div class="card-body" style="padding: 0;">
                    <img src="{% static 'main/images/banner.png' %}" alt="Image description" style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;">
                    <div class="image-overlay">
                       <div class="image-text">
                        <form class="search-form" method="GET">
                            <fieldset class="form-group">
                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        {{ form.keywords|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-2">
                                        {{ form.area_of_study|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-2">
                                        {{ form.specialization|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-2">
                                        {{ form.department|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-2">
                                        <button style="background-color: #89c73e; border: #89c73e;" class="btn btn-success" type="submit">Search</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        
                       </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
   
    <div class="content-section col-lg-12 col-md-12 col-sm-12 tutorial-style">
        <table class="table table-striped">
            {% if vacancies %}
                <thead>
                    <tr>
                        <th>Job Ref</th>
                        <th>Department</th>
                        <th>Position</th>
                        <th>Number of Vacancies</th>
                        <th>Date Open</th>
                        <th>Close Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vacancy in vacancies %}
                        <tr>
                            <td>{{ vacancy.job_ref }}</td>
                            <td>{{ vacancy.department }}</td>
                            <td>{{ vacancy.job_name }}</td>
                            <td>{{ vacancy.number_of_vacancies }}</td>
                            <td>{{ vacancy.date_open }}</td>
                            <td>{{ vacancy.date_closed }}</td>
                            <td><a style="background-color: #89c73e; border: #89c73e;" class="btn btn-success" href="{% url 'job_detail' vacancy.id %}">Job details</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% else %}
                <p>No vacancies available.</p>
            {% endif %}
        </table>
        
    </div>
  </div>
{% endblock content %}
