{% load static %}
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="menu-item btn-success mt-2 mb-2" id="dashboard">
                    <a href="" class="text-white d-flex align-items-center">
                        <i class="menu-icon fa fa-home"></i>
                        Dashboard
                    </a>
                </li>
                <li class="menu-item">
                    <a href=""><i class="menu-icon fa fa-bullhorn"></i>Advertised Jobs</a>
                </li>
                <li class="menu-item">
                    <a href=""><i class="menu-icon fa fa-bookmark-o"></i>Internships</a>
                </li>
                {% if user.is_authenticated %}
                <li class="menu-title">My Profile</li><!-- /.menu-title -->
                <li class="menu-item">
                    <a href="{% url 'profile' user.username %}"><i class="menu-icon fa fa-user-md"></i>Personnal Details</a>
                </li>
                <li class="menu-item">
                    <a href="{% url 'academic_details'%}"><i class="menu-icon fa fa-book"></i>Academic Qualifications</a>
                </li>
                <li class="menu-item">
                    <a href="{% url 'relevant_courses'%}"><i class="menu-icon fa fa-sitemap"></i>Other Relevant courses</a>
                </li>
                <li class="menu-item">
                    <a href="{% url 'employment_history'%}"><i class="menu-icon fa fa-tasks"></i>Employment History</a>
                </li>
                <li class="menu-item">
                    <a href="{% url 'referee'%}"><i class="menu-icon fa fa-users"></i>Referees</a>
                </li>
                <li class="menu-item">
                    <a href="{% url 'save_resume'%}"><i class="menu-icon fa fa-envelope"></i>Submit Resume</a>
                </li>

                <li class="menu-title">APPLY</li><!-- /.menu-title -->

                <li class="menu-item">
                    <a href=""><i class="menu-icon fa fa-bullhorn"></i>Job</a>
                </li>
                <li class="menu-item mb-5">
                    <a href=""><i class="menu-icon fa fa-bookmark"></i>Intership</a>
                </li>
                {% else %}
                <li class="menu-item">
                    <a href="{% url 'login' %}"><i class="menu-icon fa fa-bullhorn"></i>Login</a>
                </li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>


    
    <header id="header" class="header">
        <div class="top-left">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="{% static 'main/images/logo-brand1.png' %}" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="images/logo2.png" alt="Logo"></a>
                <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
            </div>
           
        </div>
        
        <div class="top-center">
            <div class="header-title">
               <strong style="color: #274288;">
                CENTRAL RIFT VALLEY WATER WORKS DEVELOPMENT AGENCY CAREER PORTAL
               </strong>
            </div>
        </div>

        <div class="top-right">
            <div class="header-menu">
                {% if user.is_authenticated %}
                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="{{ user.image.url }}" alt="User Avatar">
                    </a>
                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="{% url 'profile' user.username %}"><i class="fa fa-user"></i>My Profile</a>
                        <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-power-off"></i>Logout</a>
                    </div>
                </div>
                {% else %}
                <div class="user-area float-right">
                    <a class="nav-link" href="{% url 'login' %}" style="color: #8bc33c;"><i class="fa fa-sign-in"></i> Sign In</a>
                </div>
                {% endif %}
            </div>
        </div>
        
        
        
    </header>